body {
  background-color: #14202b;
  color: #ffffff; }

.heading {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.18rem;
  font-weight: 800;
  color: #ffffff;
  font-weight: 800; }

.title {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff; }

.tweet {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff; }

.handle {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #8899a6; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .nav ul {
    padding: 0;
    margin: 0.5rem 0; }
  .nav li {
    list-style: none;
    margin: 0.5rem 0; }

.nav_item {
  display: inline-flex;
  padding: 0 0.5rem;
  cursor: pointer;
  background-color: Transparent;
  border-radius: 624.9375rem;
  transition-duration: 0.2s; }
  .nav_item .title {
    align-self: center;
    padding: 1rem 0.5rem 1rem 1rem; }
  .nav_item .default_icon {
    width: 25px;
    height: 25px;
    color: #ffffff;
    align-self: center; }
  .nav_item:hover {
    background-color: #253341; }
  .nav_item:hover > * {
    color: #1da1f2; }

.icon {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
  transition-duration: 0.2s; }
  .icon:hover {
    background-color: #253341; }
  .icon:hover .default_icon {
    color: #1da1f2; }
  .icon:active .default_icon {
    color: #1da1f2; }

.default_icon {
  color: #ffffff; }

.tweet_icon {
  width: 17px;
  height: 17px;
  color: #1da1f2; }

.site_logo {
  color: #ffffff; }

body {
  display: flex;
  justify-content: space-around; }

.col {
  display: flex;
  flex-direction: column;
  border: 1px solid #8899a6; }

.newtweet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0.8rem;
  border: 1px solid #8899a6; }
  .newtweet__profile {
    float: left;
    width: 3rem;
    height: auto;
    border-radius: 50%; }
  .newtweet__input {
    background: transparent;
    border: none;
    width: 80%;
    height: 3rem;
    margin-left: 1rem;
    color: #8899a6;
    font-size: 1rem; }
  .newtweet__media {
    margin-left: 4rem; }
  .newtweet__submit {
    margin-left: auto; }

.button {
  background-color: #1da1f2;
  color: #ffffff;
  border: black solid 1px;
  text-align: center;
  border-radius: 624.9375rem;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box; }
  .button.small {
    width: 4.8042rem;
    height: 2.4375rem;
    font-size: 0.9375rem;
    padding: 0 1rem;
    letter-spacing: 0.05rem; }
  .button.big {
    width: 14.3438rem;
    height: 3.0625rem;
    font-size: 0.9375rem;
    padding: 0 1.875rem;
    letter-spacing: 0.05rem; }
  .button:hover {
    filter: brightness(90%); }

.circle_buttons {
  cursor: pointer;
  background-color: Transparent;
  border: 0;
  border-radius: 50%;
  transition-duration: 0.2s;
  padding: 0.2rem 0.3rem 0.1rem 0.3rem; }
  .circle_buttons:hover {
    background-color: #253341; }

.chevron {
  width: 12px;
  height: 12px;
  color: #8899a6; }

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: auto;
  position: relative;
  box-sizing: border-box;
  height: 2.5625rem;
  width: 21.75rem;
  border-radius: 624.9375rem;
  background-color: #253341;
  color: #8899a6; }

.search {
  box-sizing: border-box;
  width: 19.25rem;
  height: 2.5625rem;
  border-radius: 624.9375rem;
  background-color: #253341;
  color: #8899a6;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9375rem;
  padding: 0.625rem; }
  .search:focus {
    outline: none; }

.fa-search {
  width: 2.5rem;
  height: 1.1719rem;
  position: relative;
  display: inline-block;
  max-width: 100%;
  text-align: center;
  padding-left: 0.625rem;
  color: #8899a6; }

.thumb {
  width: 4.3125rem;
  height: 4.3125rem;
  border-radius: 0.9375rem; }
