.button {
    background-color: $twitterBlue;
    color: $whiteText;
    border: black solid 1px;
    text-align: center;
    border-radius: 624.9375rem;
    font-weight: bold;
    font-family: $fontStack;
    box-sizing: border-box;

    &.small {
        width: 4.8042rem;
        height: 2.4375rem;
        font-size: 0.9375rem;
        padding: 0 1rem;
        letter-spacing: 0.05rem;
    }

    &.big {
        width: 14.3438rem;
        height: 3.0625rem;
        font-size: 0.9375rem;
        padding: 0 1.875rem;
        letter-spacing: 0.05rem;
    }

    &:hover {
        filter: brightness(90%);
    }
}

.circle_buttons {
    cursor: pointer;
    background-color: Transparent;
    border: 0;
    border-radius: 50%;
    transition-duration: $hoverTrans;
    padding: 0.2rem 0.3rem 0.1rem 0.3rem;

    &:hover {
        background-color: $searchColour;
      }
  }

  .chevron {
    width: 12px;
    height: 12px;  
    color: $greyText;
  }