.icon {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
  transition-duration: $hoverTrans;
  
  &:hover {
    background-color: $searchColour;
  }

  &:hover .default_icon {
    color: $twitterBlue;
  }

  &:active .default_icon {
    color: $twitterBlue;
  }

}

.default_icon {
    // width: 25px;
    // height: auto;
    // margin: auto;
    // display: block;
    color: $whiteText;

 }

.tweet_icon {
  width: 17px;
  height: 17px;
  color: $twitterBlue;
}

.site_logo {
 color: $whiteText;
}



