
@mixin icons {
    cursor: pointer;
    background-color: Transparent;
    border: 0;
    transition: $hoverTrans;
    border-radius: 50%;
    
}

.default_icon {    
    @include icons;
    color: $whiteText;
    padding: 0.7em;
        
    &:hover {
      color: $twitterBlue;
      background-color: $searchColour;
    }
    &:active {
      color: $twitterBlue;
    }
 }

.tweet_icon {
  @include icons;
  color: $twitterBlue;
  padding: 0.5em;
  
  &:hover {
    background-color: $searchColour;
  }

}
