// colours
$backgroundNavy: #14202b;
$twitterBlue: #1da1f2;
$searchColour: #253341;
$asideColour: #192734;
$whiteText: #ffffff;
$greyText: #8899a6;
$chevronHover: #213a4f;

body {
  background-color: $backgroundNavy;
  color: $whiteText;
}

// transitions
 $hoverTrans: 0.2s;
