$fontStack: Helvetica, Arial, sans-serif;

.heading {
    font-family: $fontStack;
    font-size: 1.18rem;
    font-weight: 800;
    color: #fff;
    font-weight: 800;
}

.title {
    font-family: $fontStack;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
}

.tweet {
    font-family: $fontStack;
    font-size: 0.9rem;
    font-weight: 400;
    color: #fff;
}

.handle {
    font-family: $fontStack;
    font-size: 0.9rem;
    font-weight: 400;
    color: $greyText;
}

